@page "/brands/create"
@page "/brands/update/{id:int}"
@attribute [HaveRoles(Roles.Admin)]

<div class="bg-white shadow-sm p-4 rounded rounded-3 mt-4">
    <h3 class="fs-3">@(IsUpdate() ? "Update" : "Create")</h3>

    <EditForm Model="CreateOrUpdateBrandModel" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <lable class="mb-1">Name</lable>
            <InputText @bind-Value="CreateOrUpdateBrandModel.Name" class="form-control" placeholder="Name" />
            <ValidationMessage For="() => CreateOrUpdateBrandModel.Name" />
        </div>
        <div class="mb-3">
            <lable class="mb-1">Image</lable>
            <InputFile OnChange="OnInputFileChange" class="form-control" placeholder="Image" accept="image/*" />
            <ValidationMessage For="() => CreateOrUpdateBrandModel.Image" />
        </div>
        <div class="d-flex justify-content-end gap-2">
            <a href="/brands" class="btn btn-secondary">Back</a>
            <SpinnerButton Text="@(IsUpdate() ? "Update":"Create")" IsSpinning="@IsCreatingOrUpdating" />
        </div>
    </EditForm>

</div>
