@page "/access-denied";
@attribute [Authorize]

<PageTitle>Access Denied</PageTitle>

<p role="alert" class="alert alert-warning">
    It seems you don’t have permission to access this page. If you think this is a mistake, please contact support. Thank you!
</p>