@page "/not-found"
@attribute [Authorize]

<PageTitle>Not Found</PageTitle>

<p role="alert" class="alert alert-warning">
    Oops! We couldn't find what you were looking for. Please check the URL or return to the homepage. Thank you!
</p>


