@page "/server-error"
@attribute [Authorize]

<PageTitle>Server Error</PageTitle>

<p role="alert" class="alert alert-danger">
    Oops! It looks like something went wrong on our end. Please try refreshing the page or check back shortly. Thanks for your patience!
</p>
